<div class="container">
    <table class="table table-responsive">
        <thead class="thead-light">
            <th>ID</th>
            <th>Customer ID</th>
            <th>Country Code</th>
            <th>Provider Name</th>
            <th>Status</th>
            <th>Accounts</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <%= render @logins %>
        </tbody>
    </table>
</div>