<div class="container">
    <table class="table table-responsive">
        <thead class="thead-light">
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Nature</th>
            <th>Transactions</th>
        </thead>
        <tbody>
            <%= render @accounts %>
        </tbody>
    </table>
</div>