<div class="container">
    <table class="table table-responsive">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Made On</th>
                <th>Status</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
            <%= render @transactions %>
        </tbody>
    </table>
</div>